/* ================== Global ================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
    transition: 0.3s ease;
}

body {
    background-color: #f5f5f5;
    color: #222;
    scroll-behavior: smooth;
}

/* ================== NAVBAR ================== */

.navbar {
    background-color: #7e57c2;  
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
    gap: 25px;
}

.navbar a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

/* ================== HERO SECTION ================== */

.home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 80px;
    background-color: #ffffff;
    gap: 60px;
}

.home-left {
    width: 55%;
}

.home-left h2 {
    font-size: 50px;
    font-weight: 700;
}

.big-title {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 900;
    margin: 10px 0 25px 0;
    background: linear-gradient(90deg, #ff7043, #ff8a50, #ff7043);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.home-left p {
    font-size: 18px;
    line-height: 1.6;
    width: 90%;
    margin-bottom: 20px;
}

.home-right img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #ede7f6;
    box-shadow: 0 0 18px rgba(0,0,0,0.2);
}

/* ========================Buttons======================== */
.btn {
    background-color: #7e57c2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5e35b1;
}


/* ================BIG ANIMATED FULL STACK DEVELOPER TEXT================ */

.big-title {
    font-size: 65px;
    font-weight: 900;
    margin: 10px 0;
    background: linear-gradient(90deg, #ff7043, #ff8a50, #ff7043);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: titleGlow 3s infinite ease-in-out;
}

@keyframes titleGlow {
    0% { filter: drop-shadow(0 0 1px #ffab91); }
    50% { filter: drop-shadow(0 0 10px #ffab91); }
    100% { filter: drop-shadow(0 0 1px #ffab91); }
}

.home-section p {
    margin-top: 12px;
    width: 70%;
    line-height: 1.5;
    font-size: 18px;
}

.home-section img {
    width: 300px;
    animation: fadeIn 1s ease;
}

/* =============================ABOUT SECTION================================ */

.about-section {
    padding: 50px 80px;
    background-color: white;
}

.about-content {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
}


.about-content p {
    width: 80%;
    line-height: 1.6;
    margin-top: 15px;
    font-size: 18px;
}

/* ==================================SKILLS (GRID)============================= */

.skills-section {
    padding: 50px 80px;
    background-color: white;
}

.skills-grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.skill-card {
    background-color: #7e57c2;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.skill-card:hover {
    transform: translateY(-6px);
    background-color: #5e35b1;
}

/* ============================PROJECTS (GRID)============================ */

.projects-section {
    padding: 50px 80px;
    background-color: white;
}

.projects-grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.project-box {
    background: white;
    padding: 30px;
    width: 70%;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    animation: fadeIn 1s ease;
}

.project-box:hover {
    transform: translateY(-7px);
}

/* ===========================CONTACT SECTION=========================== */

.contact-section {
    padding: 50px 80px;
    background-color: white;
}

form {
    background: white;
    width: 350px;
    padding: 25px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
}

form label {
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #7e57c2;
    border-radius: 5px;
    margin: 10px 0 15px;
}

form .btn {
    width: 100%;
    padding: 12px;
    background-color: #7e57c2;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

form .btn:hover {
    background-color: #5e35b1;
}

/* =============================FOOTER========================= */

footer {
    background-color: #7e57c2;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

/*==============================BACK TO TOP============================== */

.top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #7e57c2;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
}

.top-btn:hover {
    background-color: #5e35b1;
}

/*==============================ANIMATIONS==============================*/

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/*==============================RESPONSIVE==============================*/

@media (max-width: 768px) {
    
    .home-section {
        flex-direction: column;
        text-align: center;
    }

    .home-section p {
        width: 100%;
    }

    .skills-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-box {
        width: 100%;
    }
}
